*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: rgb(156, 27, 220); */
    background: linear-gradient(rgb(183, 105, 222),#809beb);
    flex-wrap: wrap;
}

.container{
    /* max-width: 450px; */
    width: 500px;
    /* background: linear-gradient(rgb(183, 60, 245),#809beb); */
    background-color: rgb(120, 13, 173);
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.4);
    font-family: sans-serif;
    padding: 20px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

.Temperature-icon{
    font-size: 45px;
    color: #fff;
}

h1{
    color: #fff;
    letter-spacing: 1.2px;
    font-size: 30px;
}

#celsius, #fahrenheit, #kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    flex-direction: row;
}

input{
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
}


/* for chrome, safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}



.icon{
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #4d5964;
    color: #fff;
    border-radius: 0 8px 8px 0;
}


.button{
    margin-top: 25px;
    text-align: center;
}


.button button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.button button:hover{
    background: #000;
    color: #fff;
}
@media (max-width:509px) {
       .container{
        width: 400px;
       }
}
@media (max-width:409px) {
     .container{
        width: 350px;
     }
     #celsius, #fahrenheit, #kelvin{
        margin: 10px 10px 10px 30px;
        width: 250px;
        
     }
     .title{
        text-align: center;
        
     }
     .title h1{
        font-size: 1.5rem;
     }
     #celsius input, #fahrenheit input, #kelvin input{
        width: 170px;
      }
}
@media (max-width:309px) {
    .container{
        width: 250px;
    }
    #celsius input, #fahrenheit input, #kelvin input{
       width: 120px;
     }
     #celsius, #fahrenheit, #kelvin{
        margin-right: 3rem;
        width:130px;
        height: 55px;
     }
     .title{
        text-align: center;
        
     }
     .title h1{
        font-size: 1.5rem;
     }
}

@media (max-width:250px) {
    .container{
        width: 200px;
    }
    #celsius input, #fahrenheit input, #kelvin input{
       width: 150px;
     }
     #celsius, #fahrenheit, #kelvin{
        margin-right: 3rem;
        width:100px;
        height: 55px;
     }
     .title{
        text-align: center;
        
     }
     .title h1{
        font-size: 1.5rem;
     }
}
@media (max-width:209px) {
    .container{
        width: 170px;
    }
    #celsius input, #fahrenheit input, #kelvin input{
       width: 110px;
     }
     #celsius, #fahrenheit, #kelvin{
        margin-right: 3rem;
        width:80px;
        height: 55px;
     }
     .title h1{
        font-size: 1.5rem;
     }
     
}
